.login-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  .el-form {
    margin: auto;

    .el-form-item {
      position: relative;
      >label {
        position: absolute;
        right: 100%;
        white-space: nowrap;
      }
    }

    .el-form-item__label {
      align-items: center;
    }

    .el-select,
    .el-input,
    .el-button {
      width: 100%;
    }

    .checkeds {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

}
